@import "Lato.scss";

body {
    overflow-x: hidden;

    margin: 0px;

    width: 100%;
    height: 100vh;
    
    #background_header {
        width: 100%;
        height: auto;

        position: fixed; 
    }

    header {
        width: 100%;
        height: 13%;
        
        .bloc-logo {
            position: relative;
            width: 100%;
            height: 64px;
            float: left;
        }
        
        .bloc-logo canvas,
        .bloc-logo .logo-mask {
            display: block;
            width: 100%;
            height: 64px;
        }
        
        .bloc-logo .logo-mask {
            position: absolute;
            top: 0;
            left: 0;
            background-image: url("../../../_pictures/navpage.png");
            text-indent: -9999px;
        }

        h1 {
            position: absolute;
            left: 152px;
            top: 5px;

            font-family: "Lato Italic";
            color: #f9f9f9;
            font-size: 23px;

            a {
                font-family: "Lato Italic";
                color: #f9f9f9;
                font-size: 23px;
                text-decoration: none;
            }
        }

        span {
            display: flex;
            width: 500px;
            height: 50px;
            position: absolute;
            right: 0px;
            top: 25px;

            a {
                color: #f9f9f9;
                font-family: "Lato Light";
                text-decoration: none;
                margin-left: 30px;

                cursor: pointer;
            }

            a:hover {
                text-decoration: underline;
            }

            #link_img_account {
                margin-left: 7px;

                #img_account {
                    width: 35px;
                    height: auto;

                    margin-top: -8px;
                }
            }

            #link_img_account:hover {
                text-decoration: none;
            }
            
        }
        
    }

    section {
        width: 86%;
        height: auto;

        position: relative;
        left: 7%;

        border-radius: 4px;

        background-color: #f9f9f9;

        margin-bottom: 80px;

        #title_search {
            position: relative;
            top: 30px;
            left: 50px;

            p {
                margin: 0px;
                font-family: "Lato Light-Italic";
                color: #008489;
            }
            h2 {
                margin: 0px;
                font-family: "Lato Bold";
                color: #272727;
            }

            margin-bottom: 27px;
        }

        .offer {
            display: flex;
            flex-direction: column;
            margin-top: 38px;
            margin-left: 4%;

            width: 92%;

            .offer_title {
                display: flex;

                h4 {
                    font-family: "Lato Bold";
                    color: #008489;

                    margin: 0px 7px 0px 0px;
                }

                h4:hover {
                    color: #ff5a5f;
                }
            }

            .offer_content {
                margin-top: 10px;
                height: 289px;
                width: 925px;

                img {
                    width: 300px;
                    height: auto;

                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }

                .offer_promotion {
                    position: relative;
                    top: -410px;
                    left: 327px;
                    margin: 0px;
                    width: 565px;

                    text-align: justify;
                    font-family: "Lato";
                    color: #272727;
                }

                .lato-light:hover {
                    color: #008489;
                }

                .lato-light {
                    font-family: "Lato Light";   
                    color: #272727;
                    
                    i {
                        margin-right: 4px;
                        color: #008489;
                    }

                    i:hover {
                        color: #272727;
                    }
                }


                .Travelers {
                    position: relative;
                    top: -244px;
                    left: 327px;
                }

                .Rooms {
                    position: relative;
                    top: -249px;
                    left: 328px;

                    i {
                        margin-right: 7px;
                    }
                }

                .Beds {
                    position: relative;
                    top: -313px;
                    left: 463px;

                    i {
                        margin-right: 6px;
                    }
                }

                .Bathrooms {
                    position: relative;
                    top: -348px;
                    left: 571px;

                    i {
                        margin-right: 6px;
                    }
                }
                
                .Kitchens {
                    position: relative;
                    top: -354px;
                    left: 466px;

                    i {
                        margin-right: 7px;
                    }
                }

                .Wi-fi {
                    position: relative;
                    top: -389px;
                    left: 608px;
                }

                .Air-Conditioner {
                    position: relative;
                    top: -424px;
                    left: 707px;
                }

                .offer_line {
                    width: 940px;
                    height: 1px;
                    border-bottom: 1px solid #dadada;
                    position: relative;
                    top: -354px;
                }
            }

            .offer_profil {
                position: relative;
                width: 0px;
                height: 0px;

                .profil_line_vertical {
                    height: 225px;
                    border-left: 1px solid #dadada;

                    position: relative;
                    top: -300px;
                    left: 940px;
                }

                img {
                    border: 1px solid #dadada;
                    width: 75px;
                    height: auto;

                    position: relative;
                    top: -525px;
                    left: 963px;
                    background-color: rgba(255, 64, 84, 0.73);
                    border-radius: 50%;
                }

                .user_profil {
                    display: flex;
                    width: 100px;
                    position: relative;
                    top: -526px;
                    left: 965px;

                    a {
                        display: flex;
                        text-decoration: none;

                        p {
                            font-family: "Lato";
                        }

                        p:first-child {
                            color: #272727;
                            margin-right: 5px;
                        }

                        p:last-child {
                            color: #ff5a5f;
                            font-family: "Lato Bold"
                        }
                    }

                    
                }

                .note_profil {
                    font-family: "Lato Light-Italic";
                    font-size: 13px;
                    color: #008489;
                    width: 50px;

                    position: relative;
                    top: -552px;
                    left: 966px;

                    span {
                        font-family: "Lato Light";
                        font-size: 10px;

                        position: relative;
                        top: -17px;
                        left: 41px;
                    }
                }
            }
        }

        .offer:nth-child(2) {
            margin-top: 85px;
        }
    }

    footer {
        position: relative;

        width: 100%;
        height: 500px;

        background-color: rgba(90, 90, 90, 0.96);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            #text_footer_div {
                display: flex;

                p {
                    font-family: "Lato Light";
                    color: white;

                }

                p:last-child {
                    margin-left: 300px;
                }
            }

            #inputs_footer_div {
                display: flex;


                #first_input_footer {
                    width: 600px;
                    height: 35px;

                    border-radius: 4px;
                    border: 0px;

                    font-size: 13px;
                    padding-left: 20px;

                    margin-left: -50px;
                }

                label {
                    background-color: #ff5a5f;

                    padding: 6.5px 11px;

                    font-size: 17px;
                    font-family: "Lato";
                    color: white;

                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    margin-left: -85px;
                    margin-right: 40px;
                }

                #socials_medias_logos {
                    a {
                        img {
                            width: 30px;
                            height: auto;

                            padding-left: 15px;
                        }

                        #first_img_socmed {
                            border-left: 1px solid white;
                            padding-left: 30px;
                            padding-top: 3px;
                        }
                    }
                }
            }

            
        }
        
        #line_footer {
            width: 800px;

            border-bottom: 1px solid grey;

            margin: 45px 0px;
        }

        #menu_footer {
            display: flex;

            .menus_footer {
                display: flex;
                flex-direction: column;
                margin-right: 100px;

                h4 {
                    margin: 0px;

                    font-family: "Lato Black";
                    color: white;
                    text-transform: uppercase;
                }

                .line_Hfour {
                    width: 30px;

                    margin-top: 4px;
                    margin-bottom: 3px;

                    border-bottom: 1px solid white;
                }

                a {
                    color: white;
                    text-decoration: none;

                    font-family: "Lato Light";
                    margin-top: 8px;
                }

                a:hover {
                    text-decoration: underline;
                }

                #logo_appli {
                    margin-top:13px;

                    a {
                        margin-right: 10px;
                    }
                }
            }

            #menu_discover {
                margin-right: 0px;
            }
        }
    }
}