@font-face {
  font-family: "Lato Black";
  src: url("Lato/Lato-Black.ttf"); }

@font-face {
  font-family: "Lato Black-Italic";
  src: url("Lato/Lato-BlackItalic.ttf"); }

@font-face {
  font-family: "Lato Bold";
  src: url("Lato/Lato-Bold.ttf"); }

@font-face {
  font-family: "Lato Bold-Italic";
  src: url("Lato/Lato-BoldItalic.ttf"); }

@font-face {
  font-family: "Lato Hairline";
  src: url("Lato/Lato-Hairline.ttf"); }

@font-face {
  font-family: "Lato Hairline-Italic";
  src: url("Lato/Lato-HairlineItalic.ttf"); }

@font-face {
  font-family: "Lato Italic";
  src: url("Lato/Lato-Italic.ttf"); }

@font-face {
  font-family: "Lato Light";
  src: url("Lato/Lato-Light.ttf"); }

@font-face {
  font-family: "Lato Light-Italic";
  src: url("Lato/Lato-LightItalic.ttf"); }

@font-face {
  font-family: "Lato";
  src: url("Lato/Lato-Regular.ttf"); }

body {
  margin: 0px; }
  body #navblur {
    position: absolute;
    top: -4px;
    width: 100%;
    height: 40px;
    background-color: white;
    opacity: 0.4;
    filter: blur(20px) brightness(0.5); }
  body #title_website {
    color: rgba(255, 70, 90, 0.88);
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: "Lato Light-Italic";
    opacity: 0;
    transition: all 1s; }
  body #span_header_connexion {
    position: absolute;
    top: 10px;
    right: 30px;
    opacity: 0;
    transition: all 1s; }
    body #span_header_connexion a {
      color: #ffffff;
      font-family: "Lato Light-Italic";
      text-decoration: none;
      margin-left: 15px; }
    body #span_header_connexion a:hover {
      color: #ff465a; }
  body .iframe_signin {
    display: block;
    width: 425px;
    height: 485px;
    position: absolute;
    left: calc(50% - (425px / 2));
    top: calc(50% - (485px / 2));
    border-radius: 4px; }
  body .iframe_signup {
    display: block;
    width: 500px;
    height: 725px;
    position: absolute;
    left: calc(50% - (500px / 2));
    top: calc(50% - (725px / 2));
    border-radius: 4px; }
  body .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.63);
    z-index: 999; }
  body .hide {
    display: none; }
  body #iframe_div {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    z-index: 999; }
  body header {
    width: 100%;
    height: 100vh; }
    body header #background_header {
      width: 100%;
      height: auto;
      position: fixed; }
    body header #img_logo_header {
      width: 840px;
      height: auto;
      position: absolute;
      left: calc(50% - (840px / 2));
      top: calc(39% - (330.95px / 2)); }
    body header form #span_header {
      position: absolute;
      top: 64%;
      left: calc(50% - (482px / 2));
      display: flex; }
      body header form #span_header #search_bar_header {
        width: 385px;
        height: 45px;
        border: 0px;
        border-radius: 2px;
        padding-left: 26px;
        font-size: 18px;
        color: #3c3c3c; }
      body header form #span_header #search_bar_header:focus {
        outline-color: #008489; }
      body header form #span_header #submit_header {
        background-color: #ff5a5f;
        margin-left: 8px;
        border: 1px;
        border-radius: 2px;
        width: 87px;
        font-size: 18px;
        color: white;
        font-family: "Lato Light"; }
      body header form #span_header #submit_header:focus {
        outline: none; }
    body header form #span_checking {
      width: 420px;
      position: absolute;
      top: 576px;
      left: calc(50.1% - (482px / 2));
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      body header form #span_checking #label_check_house {
        background-color: #ffffff;
        width: 95px;
        height: 30px;
        display: flex;
        align-items: center;
        border-radius: 4px; }
        body header form #span_checking #label_check_house #check_house {
          width: 38px;
          height: 17px; }
        body header form #span_checking #label_check_house #span_check_house {
          font-family: "Lato Light";
          color: #ff5a5f;
          width: 75px;
          font-size: 18px;
          margin-top: -2px; }
      body header form #span_checking #label_check_appartment {
        margin-left: 30px;
        background-color: #ffffff;
        width: 144px;
        height: 30px;
        display: flex;
        align-items: center;
        border-radius: 4px; }
        body header form #span_checking #label_check_appartment #check_appartment {
          width: 30px;
          height: 17px; }
        body header form #span_checking #label_check_appartment #span_check_appartment {
          font-family: "Lato Light";
          color: #ff5a5f;
          width: 75px;
          font-size: 18px;
          margin-top: -2px; }
      body header form #span_checking a {
        cursor: pointer;
        margin-top: -2px;
        margin-left: 30px;
        color: #ffffff;
        font-family: "Lato Light";
        font-size: 18px;
        text-decoration: none; }
      body header form #span_checking a:hover {
        color: #7eb8f2; }
  body section {
    position: absolute;
    width: 100%;
    height: calc(100vh + 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fffbf4; }
    body section #logo_section {
      width: 200px;
      height: auto;
      margin-top: -40px; }
    body section h3 {
      font-family: "Lato";
      font-size: 25px;
      background: -webkit-gradient(linear, left top, right bottom, from(#ff4054), to(#6bc2ff));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: 0px;
      margin-bottom: 15px; }
    body section p {
      margin-bottom: 60px; }
    body section article {
      display: flex;
      justify-content: space-around; }
      body section article div {
        width: 320px;
        height: 410px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        background-color: white; }
        body section article div img {
          width: 300px;
          height: auto;
          margin-top: 10px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
        body section article div h4 {
          width: 300px;
          text-align: center;
          margin-bottom: 14px;
          font-family: "Lato";
          font-size: 17px; }
        body section article div p {
          width: 300px;
          text-align: center;
          font-family: "Lato";
          font-size: 15px;
          margin-top: 0px;
          margin-bottom: 0px; }
        body section article div .star {
          font-family: "Lato Light";
          font-size: 26px;
          margin-bottom: 6px; }
      body section article div:first-child:hover {
        background-color: rgba(255, 73, 94, 0.64); }
      body section article div:nth-child(2):hover {
        background-color: rgba(241, 217, 104, 0.65); }
      body section article div:nth-child(3):hover {
        background-color: rgba(126, 184, 242, 0.73); }
      body section article div:nth-child(2) {
        margin-left: 50px; }
      body section article div:nth-child(3) {
        margin-left: 50px; }
  body footer {
    position: relative;
    top: calc(100vh + 100px);
    width: 100%;
    height: 500px;
    background-color: rgba(90, 90, 90, 0.96);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    body footer form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      body footer form #text_footer_div {
        display: flex; }
        body footer form #text_footer_div p {
          font-family: "Lato Light";
          color: white; }
        body footer form #text_footer_div p:last-child {
          margin-left: 300px; }
      body footer form #inputs_footer_div {
        display: flex; }
        body footer form #inputs_footer_div #first_input_footer {
          width: 600px;
          height: 35px;
          border-radius: 4px;
          border: 0px;
          font-size: 13px;
          padding-left: 20px;
          margin-left: -50px; }
        body footer form #inputs_footer_div label {
          background-color: #ff5a5f;
          padding: 6.5px 11px;
          font-size: 17px;
          font-family: "Lato";
          color: white;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          margin-left: -85px;
          margin-right: 40px; }
        body footer form #inputs_footer_div #socials_medias_logos a img {
          width: 30px;
          height: auto;
          padding-left: 15px; }
        body footer form #inputs_footer_div #socials_medias_logos a #first_img_socmed {
          border-left: 1px solid white;
          padding-left: 30px;
          padding-top: 3px; }
    body footer #line_footer {
      width: 800px;
      border-bottom: 1px solid grey;
      margin: 45px 0px; }
    body footer #menu_footer {
      display: flex; }
      body footer #menu_footer .menus_footer {
        display: flex;
        flex-direction: column;
        margin-right: 100px; }
        body footer #menu_footer .menus_footer h4 {
          margin: 0px;
          font-family: "Lato Black";
          color: white;
          text-transform: uppercase; }
        body footer #menu_footer .menus_footer .line_Hfour {
          width: 30px;
          margin-top: 4px;
          margin-bottom: 3px;
          border-bottom: 1px solid white; }
        body footer #menu_footer .menus_footer a {
          color: white;
          text-decoration: none;
          font-family: "Lato Light";
          margin-top: 8px; }
        body footer #menu_footer .menus_footer a:hover {
          text-decoration: underline; }
        body footer #menu_footer .menus_footer #logo_appli {
          margin-top: 13px; }
          body footer #menu_footer .menus_footer #logo_appli a {
            margin-right: 10px; }
      body footer #menu_footer #menu_discover {
        margin-right: 0px; }
